<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Flask App</title>
    <link rel="stylesheet" href="{{ url_for( 'static', filename='style.css' ) }}">
</head>

<body>
    <div class="container">
        <h1>Hello, Guys!</h1>
        <div class="items">
            {% for name in names %}
            <p>This is {{ name }}</p>
            {% endfor %}
        </div>
    </div>

    <script src="script.js"></script>
</body>

</html>