* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: palevioletred;
    background-color: #635252;
    padding: 0 16px;
}

::selection {
    background-color: palevioletred;
    color: black;
}

.container {
    max-width: 768px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 20px auto;
    background-color: black;
    padding: 2rem;
    border-radius: 10px;
    border: 1px solid palevioletred;
}

.items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 1.2rem;
    letter-spacing: .2px;
}

.items p {
    padding: 5px 16px;
    border: 2px solid palevioletred;
    border-radius: 30px;
    cursor: pointer;
    transition: all .2s ease;

    &:hover {
        background-color: rgba(216, 112, 147, 0.4);
        color: white;
    }
}

#add-item {
    font-weight: bold;
    text-transform: uppercase;

    &:hover {
        background-color: palevioletred;
        color: black;
    }
}